<button style="margin-top: 0" routerLink="/vsechnylekce">Všechny lekce</button>
<button style="margin-top: 0" [routerLink]="['/unidad','1']">UNIDAD 1</button>
<button style="margin-top: 0" [routerLink]="['/unidad','2']">UNIDAD 2</button>
<button style="margin-top: 0" [routerLink]="['/unidad','3']">UNIDAD 3</button>
<button style="margin-top: 0" [routerLink]="['/unidad','4']">UNIDAD 4</button>
<button style="margin-top: 0" [routerLink]="['/unidad','5']">UNIDAD 5</button>
<button style="margin-top: 0" [routerLink]="['/unidad/6']">UNIDAD 6</button>
<button style="margin-top: 0" routerLink="/unidad1" >Old Unidad 1</button>
<button style="margin-top: 0" routerLink="/unidad2">Old Unidad 2</button>
<button style="margin-top: 0" routerLink="/sandbox">Sandbox</button>
<button style="margin-top: 0" routerLink="/sandbox2">Sandbox2</button>
<!-- <button style="margin-top: 0" routerLink="/sandbox3">Sandbox3</button> -->
<router-outlet></router-outlet>


