<body>

  <div class="unitName">
    <h2 class="setName">Nueva Aventura 1</h2>
    <h2 class="lessonNo">Lesson 2</h2>
  </div>
  <div class="wordCard">
    <h1>alemán</h1>
  </div>
  <div class="buttonBackArea">
    <button class="buttonBack" type="button">Back</button>
  </div>
  <div class="buttonForwardArea">
    <button class="buttonForward" type="button">Forth</button>
  </div>

  <div class="NoYesButtons">
    <button class="buttonNo">No</button>
    <button class="buttonYes">Yes</button>
  </div>
</body>


