html,
body {
  height: 100vh;
}

body {
  background-color: cadetblue;
  display: grid;
  grid: 3fr 6fr 3fr / 1fr 4fr 1fr
}

.unitName {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2fr 1fr 1fr;
  text-align: center;


}

.setName {
  grid-row: 2 / 3;
  align-self: flex-end;
}

.lessonNo {
  grid-row: 3 / 4;
  align-self: flex-end;
}

.wordCard {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: rgb(13, 103, 107);
  font-style: italic;

}

h2 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.buttonBackArea {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 40% 10%;

}

.buttonBack {
  grid-row: 2 / 3;
  margin-right: 10%;
}

.buttonForwardArea {
  grid-area: 2 / 3 / 3 / 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 40% 10%;
}

.buttonForward {
  grid-row: 2 / 3;
  margin-left: 10%;
}

.NoYesButtons {
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  grid: 1fr 1fr / 10% 30% 20% 30% 10%;

}

button {
  font-size: 16px;
  margin-top: 10%;
}

.buttonYes {
  grid-area: 1 / 4 / 2 / 5;
}

.buttonNo {
  grid-area: 1 / 2 / 2 / 3;
}

@media screen and (min-width:900px) {

  body {
    background-color: cadetblue;
    display: grid;
    grid: 3fr 6fr 3fr / 4fr 4fr 4fr
  }

  .unitName {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2fr 1fr 1fr;



  }

  .setName h2 {
    grid-row: 2 / 3;

  }

  .lessonNo {
    grid-row: 3 / 4;
    font-size: 2rem;
  }

  .wordCard {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: rgb(13, 103, 107);
    font-style: italic;

  }

  h2 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .buttonBackArea {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 40% 10%;


  }

  .buttonBack {
    grid-row: 2 / 3;
    margin-right: 5%;
    justify-self: flex-end;
    width: 30%
  }

  .buttonForwardArea {
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 40% 10%;
  }

  .buttonForward {
    grid-row: 2 / 3;
    margin-left: 5%;
    justify-self: flex-start;
    width: 30%
  }

  .NoYesButtons {
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid: 1fr 1fr / 10% 30% 20% 30% 10%;

  }

  button {
    font-size: 1.6rem;
    margin-top: 10%;
  }

  .buttonYes {
    grid-area: 1 / 4 / 2 / 5;
  }

  .buttonNo {
    grid-area: 1 / 2 / 2 / 3;
  }
}

