<body>
  <div class="unitName">
    <h2 class="setName">Nueva Aventura 1</h2>
    <h2 class="lessonNo">Lesson 1</h2>
  </div>
  <div class="wordCard">
    <div class="the-word">
      <h2>{{zkouseneSlovo}}</h2>
      <h3 class="translated-word" *ngIf="showTranslation">{{zkouseneSlovoPreklad}}</h3>
      <h3 *ngIf="posledniSlovo">Výsledek: {{spravnaOdpoved()}}({{maxLength}})</h3>
    </div>
    <div>
      <button type="button" (click)="toggle()" class="show-translation">{{buttonName}}</button>
      <button *ngIf="posledniSlovo" (click)="anotherRound()" class="show-translation">Again</button>
    </div>

  </div>
  <div class="buttonBackArea">
    <app-back-button class="button-back-position" (click)="previousWord()"></app-back-button>
  </div>
  <div class="buttonForwardArea">
    <app-forward-button class="button-forward-position" *ngIf="!posledniSlovo" (click)="nextWord()"></app-forward-button>
    <!-- <button class="buttonForward" type="button" *ngIf="!posledniSlovo" (click)="nextWord()"> Forth</button> -->
  </div>


  <div class="NoYesButtons">

    <app-no-button class="buttonNo" *ngIf="!posledniSlovo" (click)="nextWord()">
    </app-no-button>

    <app-yes-button class="buttonYes" *ngIf="!posledniSlovo" (click)="nextWord(); spravnaOdpoved()"></app-yes-button>
  </div>
</body>
