<div class="obsah">
  <div class="item1">ITEM 1</div>
  <div class="item2">
    <mat-icon id="mat_icon">
      <!-- <span class="material-symbols-outlined"> -->
      <span class="chevron_left">
        chevron_left
      </span>
      <span class="chevron_right">
        chevron_right
      </span>
    </mat-icon>
  </div>
  <div class="item3">ITEM 3</div>
  <div class="item4">
    <mat-icon id="BB">
      <span id="BB_item">
        chevron_left
      </span>
</mat-icon>
  </div>
  <div class="item5">
    <div class="cube"></div>
  </div>
  <div class="item6">
    <!-- <button mat-icon-button id="FB"> -->
      <mat-icon id="FB">arrow_forward_ios</mat-icon>
    <!-- </button> -->
  </div>
  <div class="item7">ITEM 7</div>
  <div class="item8">ITEM 8</div>
  <div class="item9">ITEM 9</div>
</div>
